Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupName: {Ref : AWSEBSecurityGroup}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
	  
packages:
  yum:
    mod24_ssl : []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        
        ProxyPass / http://localhost:80/ retry=0
        ProxyPassReverse / http://localhost:80/
        ProxyPreserveHost on
        
        LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\""
        ErrorLog /var/log/httpd/elasticbeanstalk-error_log
        TransferLog /var/log/httpd/elasticbeanstalk-access_log
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      -----BEGIN&amp;nbsp;CERTIFICATE-----
      MIIFAzCCA+ugAwIBAgIQDPtR+4l+EJ2rjGrImQ0pUzANBgkqhkiG9w0BAQUFADBI
      MQswCQYDVQQGEwJVUzEVMBMGA1UEChMMRGlnaUNlcnQgSW5jMSIwIAYDVQQDExlE             
      aWdpQ2VydCBTZWN1cmUgU2VydmVyIENBMB4XDTE0MDcxMzAwMDAwMFoXDTE1MDcx
      NzEyMDAwMFowZDELMAkGA1UEBhMCVVMxEjAQBgNVBAgTCUxvdWlzaWFuYTEUMBIG
      A1UEBxMLTmV3IE9ybGVhbnMxFTATBgNVBAoTDElOS01VTEUsIExMQzEUMBIGA1UE
      AxMLaW5rbXVsZS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCs
      fu0P4EpFemFJ7s++ETgBJEGjuQVj6OZxLSPrNteK3S7myd0h58lJb42LUudmfEWx
      xhKYrZN4a5jwMAKxW8jooMtKHX7ho7uIEOArAxVyS0+IcoOoN9WmyhfA1+Ji7PhC
      9eATpsADA4tVedDsiLtj34WmYvyedXKhEKE4xUFIWGveiRpZO4H6b/a/bgzzqIwU             
      JYNIZKVMFnOyLlSUA8uOs2B9GvV1iS+TKi5Hq27DYsytUXClIcHVPHKAg2b8f35g
	  IRg6PmdyVD/aEa8f8tJSsP2j8HONMt+5dZryqis0n1D+nA7xbt9oXtnCtg9SxRRj
	  +sm/2RoDDDZTkHQQfoFdAgMBAAGjggHLMIIBxzAfBgNVHSMEGDAWgBSQcds363PI
	  79zVHhK2NLorWqCmkjAdBgNVHQ4EFgQUSPRCyhv6jhqTb1W8wU7dUPV21+0wJwYD
	  VR0RBCAwHoILaW5rbXVsZS5jb22CD3d3dy5pbmttdWxlLmNvbTAOBgNVHQ8BAf8E
	  BAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMGEGA1UdHwRaMFgw
	  KqAooCaGJGh0dHA6Ly9jcmwzLmRpZ2ljZXJ0LmNvbS9zc2NhLWc2LmNybDAqoCig
	  JoYkaHR0cDovL2NybDQuZGlnaWNlcnQuY29tL3NzY2EtZzYuY3JsMEIGA1UdIAQ7
	  MDkwNwYJYIZIAYb9bAEBMCowKAYIKwYBBQUHAgEWHGh0dHBzOi8vd3d3LmRpZ2lj
	  ZXJ0LmNvbS9DUFMweAYIKwYBBQUHAQEEbDBqMCQGCCsGAQUFBzABhhhodHRwOi8v
	  b2NzcC5kaWdpY2VydC5jb20wQgYIKwYBBQUHMAKGNmh0dHA6Ly9jYWNlcnRzLmRp
	  Z2ljZXJ0LmNvbS9EaWdpQ2VydFNlY3VyZVNlcnZlckNBLmNydDAMBgNVHRMBAf8E
	  AjAAMA0GCSqGSIb3DQEBBQUAA4IBAQBTipQzoV4z5WSPmFPumEgRud8eoizO/FAq
	  WmtZcpyLx905JuvQUO5sQtJ8DUjSqSgzbxFlPbTbtur/tUWhZlzl6SqfM1is5baJ
	  IYovL2/RT881FxLIxswIVTyK1gDvasDi+bU+VLhQaoavH+nP3o/s4Wv/oRyvqVx8
	  3JXgMXbfpwaJCLw66dAfFLPR5Fj24nD52A3hqUSggXEJLNQzaYAWI53M2QJNzImW
	  Gz6cZL8QhWTZYxgZZNhNqxW3ZYB1LHg3SWnUJHOf0pc9MrMxkkSyeehl43JMGK2O
	  w/5f8nPXDxHjy8EUTcPo/8qr4bjJRQCi1E/sfRYRGzb5QOQcFm2O
      -----END&amp;nbsp;CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      -----BEGIN RSA&amp;nbsp;PRIVATE KEY-----
	  MIIEogIBAAKCAQEArH7tD+BKRXphSe7PvhE4ASRBo7kFY+jmcS0j6zbXit0u5snd
	  IefJSW+Ni1LnZnxFscYSmK2TeGuY8DACsVvI6KDLSh1+4aO7iBDgKwMVcktPiHKD
	  qDfVpsoXwNfiYuz4QvXgE6bAAwOLVXnQ7Ii7Y9+FpmL8nnVyoRChOMVBSFhr3oka
	  WTuB+m/2v24M86iMFCWDSGSlTBZzsi5UlAPLjrNgfRr1dYkvkyouR6tuw2LMrVFw
	  pSHB1TxygINm/H9+YCEYOj5nclQ/2hGvH/LSUrD9o/BzjTLfuXWa8qorNJ9Q/pwO
	  8W7faF7ZwrYPUsUUY/rJv9kaAww2U5B0EH6BXQIDAQABAoIBAGTMkwlY/u3U0u9a
	  P0mJVFnObxEWeKDmo2r1fuzfklsSX2r8AV3jzcs9BdCptJE+A5gb8BgKLogLEEcj
	  Nx+fTCsscz8vN0rx3A9qFSTtW2X7vlE04dy2LAKYTAMj5KX8ZiLy/WteYQwh0RU0
	  5zKhwCdfogEWDRsn9MFML3o2QqzcEF2GLYaEPHObasbwYxB9ScFNgN0KDhC/+oAL
	  GjRfj9hBAUrXVQudGGSGSI1n+jwhHyspZ2ZCvloOQRU/RLBPvRLfwtyJ8FJSlqiK
	  G0EN/CawEZgqbB/pwWwip2DEMZ9NlkuKcKgIx1w2z+OHTmrPTyHpvjfBOIa2JAJi
	  Sb3jx8ECgYEA499do5luCFP0QDuEr4BO8VG44UkK4bRo00f0hk8+EwPBgtY56WLr
	  HYU15t2Bj8YBX8wULrVdgyWibbpNjrOZfNfEzuPk0zlwiInHi4iKqOjrs7XYRYaU
	  Eqc+k+ZYd0UONtjC4ohRJOvtSouOHevaoabR62M3ZyQN8WReaaLeKM0CgYEAwcmw
	  evZq2dKaO3TGzIk58dQ+ZqlOm1NmxmBqXGnVU/RErzAyU3AWVUOUiPPbJGwFiW8+
	  N2WwR9M7sP4r4p84cc2UofkZ45tT1kF6ZYHVhu7QDkgmM77hzGxo4m8L/JLxkftU
	  Uo5yWlJQ7K8TjilmOHfBGkyefPyrG6q1tNZj+tECgYA1VXNKNj/9rQCvA/8zQHm5
	  m6IFAJ6OYzZhtSazRNrHgoqJP/DAAkn7V9Fc3p1TdEmgDVjv8b0YU/enbQJ4Eusq
	  wCmtLsPA+GGxY2YT73pcvF9maXpcE3qWvxQzc6djCwOfrK44bSVo2dtpJi62LBy4
	  1x2s1UUDW/nzdMVwPhF3RQKBgEcR0+JUqv01qpCxlBMBJLoWz8fQwd5fKOsKAxff
	  THhcti/Vqi9FhTtB7KCJZk4mO6WaoaOpbIv64QJZRPj40beS4LbCZ4c8uPNz0hKW
	  GhxBSxZhyXjiwWa6P4EDns7DiUqzdMpOKYwMcldLIg3aCv4clToy7VEDTTF5Wuh2
	  U/ZxAoGAYpq7bVAl0GCVqQgQaZp1vlR+NMbbErTMSEtdNgetcImU61OuSF0ezWOh
	  QJ7UMXW+RWEi+Lfdy1eDpkL95vNwvuxnHF4d/q9S8cEmT2Ke+SPHaiXbU4vqY9Dq
	  WoA5f2baDkhAtcG0jpMrmUYoWYPdCD6wTMhm3KpWeoqTKK8qeIo=
      -----END RSA&amp;nbsp;PRIVATE KEY-----
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupName: {Ref : AWSEBSecurityGroup}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
